.ad-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Đảm bảo nó nằm trên các nội dung khác */
}

.ad-popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  max-width: 500px;
  width: 90%;
}

.ad-popup-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: #333;
}

.ad-popup-content h3 {
  margin-top: 0;
  color: #333;
}

.ad-popup-content p {
  color: #555;
  margin-bottom: 20px;
}

.ad-popup-content a {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.ad-popup-content a:hover {
  background-color: #0056b3;
}